body {
  background-image: linear-gradient(to right, #131313, #150a4e, #131313);
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/*nav*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none; 
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.navbar-links {
  margin-right: auto;
  margin-left: 5px;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  transition: 0.3s;
}
.navbar-links li:hover {
  background-color: #251cd3;
  border-radius: 5px;
}
.navbar-links a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin-left: auto;
  display: block;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 21px;
}
.navbar-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


/*Topper*/
.Title {
  color: white;
  font-family: 'Rubik Moonrocks';
  font-weight: bolder;
  font-size: 120px;
  margin-top: 5%;
  margin-bottom: 9%;
  display: block;
  text-align: center;
}

.particles-js-canvas-el {
  position: fixed;
  top: 1;
  bottom: 40%;
  z-index: -1;
}

/* content */
.Div_WhatweAre {
  background-color: #150a4e;
}

.h1 {
  color: white;
  font-family: 'Montserrat', bold;
  font-weight: bolder;
  font-size: 40px;
  height: 90%;
  text-align: center;

}

@media (max-width: 400px ) {

  .Title { 
    font-size: 30px;
  }

  .navbar-toggle {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
    background-color: #251cd3;
    border-radius: 5px;
    margin-bottom: 1.2px;
  }
  .navbar-links li:hover {
    background-color: #282381;
    border-radius: 5px;
  }
  .navbar-links li a{
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

/*content*/
.Content-1 {
  background-image: linear-gradient(to right, #120324, #150a4e, #120324);
}
.Content-1_h1 {
  color: white;
  font-family: 'Unbounded', bold;
  text-decoration: underline;
  font-size: 45px;
  font-weight: 10px;
  text-align: center;
  align-items: center;
  display: block;
}
.Content-1_txt {
  color: white;
  font-family: 'Montserrat', bold;
  font-size: 10px;
  font-weight: 1px;
  text-align: center;
  display: block;
}